.git
node_modules/
PromptTrail
dist/
hello.js
example.txt
context.txt
*.js
*.js.map
.DS_Store
.vscode
vscode-extension/
readme_examples
vscode-extension.zip
dogfooding/interactive-agent/
dogfooding/visualizer/
scratchpad.ts

